    <!-- Sección Inicio / Home -->

    <section
      class="__inicio bg-white container col-12 d-flex flex-column flex-sm-column flex-md-column flex-lg-column align-items-center justify-content-center px-4"
    >
      <div class="row p-0">
        <article class="container col-12 col-sm-12 col-md-6 col-lg-7 d-flex flex-column justify-content-center px-1 mx-auto my-auto mb-4 mb-sm-4 mb-md-auto mb-lg-auto">
            <app-saludo-inicio> </app-saludo-inicio>
        </article>
        <article class="__img container col-12 col-sm-12 col-md-6 col-lg-5 d-flex justify-content-center justify-content-sm-center justify-content-md-end justify-content-lg-end align-items-center mt-4 mt-sm-auto my-md-auto my-lg-auto">
            <app-img-perfil-inicio> </app-img-perfil-inicio>
        </article>
      </div>
    </section>