    <!-- Sección Sócalo superior - Argentina Programa -->

    <section class="__socalo-superior p-0 m-0">
        <div class="container">
          <div class="row p-0 m-0">
            <div class="col-12 d-flex p-0">
              <div class="col __logo-argentina-programa m-0 p-auto">
                <app-logo-ap> </app-logo-ap>
              </div>
              <div
                class="__yo-programo d-flex justify-content-end align-items-center mx-1 mx-sm-0 mx-md-0 mx-lg-1 px-0 px-sm-0 px-md-0 px-lg-1"
              >
                <h6 class="text-end p-auto my-auto mx-2 mx-sm-2 mx-md-2 mx-lg-0 mx-xl-1">
                  Argentina Programa - <span>#YoProgramo</span>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </section>