<!-- Sección login -->

<section
  class="__login col-12 col-sm-12 col-md-10 col-lg-4 col-4 px-3 py-4 mx-auto"
>
  <article
    class="__titulo-seccion col-12 d-flex flex-column justify-content-center"
  >
    <h2 class="mx-auto mt-4 mb-2 py-1">Login</h2>
    <span class="__subraya d-flex mx-auto"></span>
  </article>
  <div class="row p-0 mx-auto justify-content-center">
    <div
      class="__login-box __style-box col-12 d-flex justify-content-center py-3 mb-4"
    >
      <form
        class="col-11 d-flex flex-column justify-content-center"
        #f="ngForm"
        (ngSubmit)="onLogin()"
        novalidate
      >
        <div class="__user-box mb-4">
          <input
            type="text"
            id="nombreUsuario"
            name="nombreUsuario"
            class="form-control"
            [(ngModel)]="nombreUsuario"
            [ngModelOptions]="{ standalone: true }"
            required
          />
          <label class="" for="nombreUsuario">Usuario</label>
        </div>
        <div class="__user-box mb-4">
          <input
            type="password"
            id="password"
            class=""
            [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }"
            required
          />
          <label class="" for="password">Contraseña</label>
        </div>
        <div class="__check-box mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label text-secondary" for="exampleCheck1"
            >Recordarme</label
          >
        </div>
        <button
          type="submit"
          class="btn btn-success btn-inline-block text-center fw-bolder my-1 p-2"
        >
          Ingresar
        </button>
      </form>
    </div>
  </div>
</section>
