<section
      class="__acerca col-12 d-flex flex-column justify-content-center px-3 py-4"
    >
      <article
        class="__titulo-seccion col-12 d-flex flex-column justify-content-center"
      >
        <h2 class="mx-auto mt-4 mb-2 py-1">Hard & Soft Slills</h2>
        <span class="__subraya d-flex mx-auto"></span>
      </article>
      <div class="row p-0 m-0">
        <article
          class="__style-box col-12 col-sm-12 col-md-10 col-lg-11 col-xl-10 col-xxl-11 d-flex flex-column justify-content-start align-items-start mx-auto py-4 mb-4"
        >

        <circle-progress
        [title]="'Angular'"
        [showUnits]="false"
        [showSubtitle]="false"
        [backgroundPadding]="30"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#1daa69'"
        [innerStrokeColor]="'#b0d9cd'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>

        </article>
      </div>
    </section>
