    <!-- Sección Acerca de mí -->

    <section
      class="__acerca col-12 d-flex flex-column justify-content-center px-3 py-4"
    >
      <article
        class="__titulo-seccion col-12 d-flex flex-column justify-content-center"
      >
        <h2 class="mx-auto mt-4 mb-2 py-1">Acerca de mí</h2>
        <span class="__subraya d-flex mx-auto"></span>
      </article>
      <div class="row p-0 m-0">
        <article
          class="__style-box col-12 col-sm-12 col-md-10 col-lg-11 col-xl-10 col-xxl-11 d-flex flex-column justify-content-start align-items-start mx-auto py-4 mb-4"
        >
          <p class="col fw-bolder px-4">¡Bienvenido/a a mi portfolio!</p>
          <p class="text-left text-secondary px-4 py-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi qui
            numquam illum amet dicta, sapiente obcaecati, rerum quis possimus
            exercitationem laborum facere similique quasi distinctio cumque
            dignissimos nihil praesentium eligendi! Reprehenderit cum deleniti
            ea ipsum qui consequatur, neque fuga necessitatibus ratione laborum
            dolores. Sapiente odio vero aspernatur ad consequatur maiores.
          </p>
          <p class="text-left text-secondary px-4 py-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            similique ab facilis quaerat. Quasi pariatur fugiat maxime tenetur
            sed adipisci laudantium voluptate quibusdam aliquam necessitatibus.
          </p>
          <div class="container-fluid d-flex">
            <a
              routerLink="/proyectos"
              type="button"
              href="#"
              class="btn btn-md text-center text-uppercase d-flex mx-auto my-1"
            >
              Ver Proyectos
            </a>
          </div>
        </article>
      </div>
    </section>

    <app-hard-soft-skills>  </app-hard-soft-skills>